@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-thai), sans-serif;
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: #fff !important;
  }
  main {
    max-width: none !important;
    padding: 0 !important;
  }
}
